* {
    box-sizing: border-box;
    margin: 0;
}

/* LOGGED IN STATE */
/* HEADER*/
#app-header {
    border-bottom: 2px tomato solid;
    display: flex;
    padding-bottom: 3px;
    justify-content: space-between;
    margin: 1%;
}

.logo-container {
    height: 120px;
    width: 100px;
}
.logo-image-container {
    height: 100px;
    width: 100px;
}
.logo-image {
    height: 100%;
    width: 100%;
}

.logo-image:hover {
    filter: grayscale(100%);
}

.profile-container {
    height: 120px;
    width: 100px;
    text-align: right;
    cursor: pointer;
}
.profile-image-container {
    height: 100px;
    width: 100px;
}

.profile-image {
    height: 100%;
    width: 100%;
    /* cursor: pointer; */
}

.profile-container:hover {
    /* filter: blur(2px); */
    filter: grayscale(100%);
}

/* UPLOADER MODAL*/
#upload-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.712);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#upload-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 170px;
    border-top: 2px tomato solid;
    border-left: 2px tomato solid;
    background-color: whitesmoke;
    z-index: 100;
}
#upload-modal-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5%;
    /* align-items: center; */
    /* justify-items: space; */
}

#upload-modal-header {
    /* border: 2px yellow solid; */
    display: flex;
    justify-content: space-between;
}

#upload-modal-title {
    /* border: 2px blue solid; */
    font-size: large;
    padding: 8% 0;
}

#upload-modal-x {
    /* border: 1px magenta solid; */
    font-size: x-large;
    color: dimgrey;
    padding-right: 7px;
    /* padding-top: 0px; */
}

#upload-modal-x:hover {
    color: tomato;
    cursor: pointer;
}

.button {
    border-radius: 0;
    border: none;
    border: 1px solid #383838;
    background-color: white;
    font-family: inherit;
    font-size: 90%;
    cursor: pointer;
    color: #383838;
    width: 40%;
}

.button:hover {
    background-color: #383838;
    color: white;
}

#upload-title {
    /* border: 1px red solid; */
    padding: 10% 0 5% 0;
    align-self: right;
}
#file {
    /* border: 1px red solid; */
    padding: 3% 0 8% 0;
}

/* Profile */

#profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile {
    border-top: 2px tomato solid;
    border-left: 2px tomato solid;
    margin-top: 5%;
    padding: 1%;
    width: 40%;
    height: 50%;
    text-align: center;
    background-color: white;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
#picture-bio-layout {
    display: flex;
    justify-content: space-between;
    /* border: 1px blue solid; */
    margin: 5% 0 2% 0;
}
#picture {
    /* border: 2px tomato solid; */
}
#bio {
    /* border: 1px mediumblue solid; */
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: medium;
    /* margin: 5% 0 2% 0; */
}

#bio-text {
    /* border: 1px tomato solid; */
    /* width: 40px; */
    height: 88px;
    text-align: justify;
    margin-left: 2px;
    padding: 3%;

    /* padding: 1%; */
    /* color: red; */
}
#bio-textarea-div {
    display: flex;
}
#bio-textarea {
    border: 1px #383838 solid;
    /* width: 40px; */
    /* height: 2em; */
    resize: none;
    font-family: "roboto", sans-serif;
    font-size: medium;
    padding: 2%;
    text-align: justify;
    color: darkcyan;
}

#edit-bio-button {
    width: 80px;
    /* height: 2em; */
    margin: 5px;
}
#save-bio-button {
    width: 80px;
    /* border: 2px tomato solid; */
    /* height: 2em; */
    margin: 5px;
}
/* LOGGED OUT STATE */

#welcome-header {
    /* border: 1px #383838 solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 4%; */
    height: 300px;
    width: 100vw;
    bottom: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: #e8e8e8;
    /* background-color: #fa7f72; */
    /* opacity: 0.5; *
    /* background-color: teal; */

    padding-top: 2%;
    /* box-shadow: 2px 2px 5px grey; */
}

body {
    font-family: "roboto", sans-serif;
    color: #a8a8a8;
    background-color: #fa7f72;
}

#welcome-title {
    margin-top: 8%;
    font-size: 30px;
    /* color: rgb(59, 79, 95); */
    color: #383838;
    width: 350px;
    text-align: right;
    /* border: 1px #383838 solid; */
}

.main-container {
    /* border-top: 2px #383838 solid;
    border-bottom: 2px #383838 solid; */
    /* border: 1px #383838 solid; */
    color: white;
    box-shadow: 2px 2px 5px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    font-size: large;
    padding-top: 7%;
    margin-top: 3%;
    background-color: #389393;
    /* background-color: lightslategray; */
}

.form-layout {
    display: flex;
    flex-direction: column;
    /* border: 1px green solid; */
    margin-top: 2%;
    /* font-size: larger; */
}

.input-fields {
    display: flex;
    flex-direction: column;
    /* border: 2px royalblue solid; */
    padding: 5px;
    padding-top: 5px;
}
#already-reg {
    font-size: medium;
}

.reg-input {
    height: 2em;
    width: 19em;
    margin: 5px 0;
    font-family: "roboto", sans-serif;
    color: #383838;
    border: none;
    padding: 10px;
    /* padding-top: 20px; */
    /* background-color: rgb(184, 240, 241); */
    /* border-bottom: 1px #383838 solid; */
    /* box-shadow: 1px 1px 1px 0px rgba(158, 158, 162, 0.5); */
    /* margin: 10px; */
}
#submit-reg {
    box-shadow: 4px 4px 3px 0px rgba(158, 158, 162, 0.5);
    border: none;
    height: 1.5em;
    background-color: rgb(51, 133, 51);
    font-size: large;
    color: white;
    /* margin-top: 2%; */
    padding: 2px 2% 0 2%;
    float: right;
}
#reg-actions {
    /* border: 1px green solid; */
    height: 2em;
    padding-top: 3%;
}
