* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "roboto", sans-serif;
    color: #383838;
    background-color: #fa7f72;
}

/* LOGGED IN STATE */
/* HEADER*/
#app-container {
    background-color: #ebebeb;
    height: 100vh;
}
#app-header {
    border-bottom: 2px tomato solid;
    display: flex;
    padding-bottom: 3px;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1%;
}

.logo-container {
    height: 120px;
    width: 100px;
}
.logo-image-container {
    height: 100px;
    width: 100px;
}
.logo-image {
    height: 100%;
    width: 100%;
}

.logo-image:hover {
    filter: grayscale(100%);
}

.profile-container {
    height: 120px;
    width: 100px;
    text-align: right;
    cursor: pointer;
}
.header-image-container {
    height: 100px;
    width: 100px;
}

.profile-image {
    height: 100%;
    width: 100%;
    /* cursor: pointer; */
}

/* #big-picture-container {
    border: 2px tomato solid;
    height: 150px;
    width: 150px;
} */

.profile-container:hover {
    /* filter: blur(2px); */
    filter: grayscale(100%);
}

/* UPLOADER MODAL*/
#upload-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.712);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#upload-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 180px;
    border-top: 2px tomato solid;
    border-left: 2px tomato solid;
    background-color: whitesmoke;
    z-index: 100;
}
#upload-modal-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 5% 0 5%;
    /* align-items: center; */
    /* justify-items: space; */
}

#upload-modal-header {
    /* border: 2px yellow solid; */
    display: flex;
    justify-content: space-between;
}

#upload-modal-title {
    /* border: 2px blue solid; */
    font-size: large;
    padding: 8% 0;
}

#upload-modal-x {
    /* border: 1px magenta solid; */
    font-size: x-large;
    color: dimgrey;
    /* padding-right: 19px; */
    padding-top: 6px;
}

#upload-modal-x:hover {
    color: tomato;
    cursor: pointer;
}
#uploader-buttons-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* border: 1px red solid; */
}

.button {
    border-radius: 0;
    border: none;
    border: 1px solid #383838;
    background-color: white;
    font-family: inherit;
    font-size: 90%;
    cursor: pointer;
    color: #383838;
    width: 40%;
}

.button:hover {
    background-color: #383838;
    color: white;
}

#upload-title {
    /* border: 1px red solid; */
    padding: 10% 0 5% 0;
    align-self: right;
}
#file {
    /* border: 1px red solid; */
    padding: 3% 0 8% 0;
}

/* Profile */

#profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile {
    border-top: 2px tomato solid;
    border-left: 2px tomato solid;
    margin-top: 5%;
    padding: 1%;
    width: 40%;
    height: 50%;
    text-align: center;
    background-color: white;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
#picture-bio-layout {
    display: flex;
    justify-content: space-between;
    /* border: 1px blue solid; */
    margin: 5% 0 2% 0;
}
#big-picture-container {
    border: 2px tomato solid;
    height: 470px;
    width: 450px;
}

.profile-image-container {
    height: 450px;
    width: 450px;
    border: 2px blue solid;
}

#bio {
    /* border: 1px mediumblue solid; */
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: medium;
    /* margin: 5% 0 2% 0; */
}

#bio-text {
    /* border: 1px tomato solid; */
    /* width: 40px; */
    height: 88px;
    text-align: justify;
    margin-left: 2px;
    padding: 3%;

    /* padding: 1%; */
    /* color: red; */
}
#bio-textarea-div {
    display: flex;
}
#bio-textarea {
    border: 1px #383838 solid;
    /* width: 40px; */
    /* height: 2em; */
    resize: none;
    font-family: "roboto", sans-serif;
    font-size: medium;
    padding: 2%;
    text-align: justify;
    color: darkcyan;
}

#edit-bio-button {
    width: 80px;
    margin: 5px;
}
#save-bio-button {
    width: 80px;
    margin: 5px;
}

/* LOGGED OUT STATE */

/* Registration */

#welcome-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: #e8e8e8;
    /* background-color: #fa7f72; */
    /* background-color: teal; */
    padding-top: 2%;
}

#welcome-title {
    margin-top: 8%;
    font-size: 30px;
    color: #383838;
    color: #f55e4d;
    /* color: #FA7F72; */
    width: 350px;
    text-align: right;
}

.main-container {
    color: white;
    box-shadow: 2px 2px 5px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 262px;
    font-size: large;
    margin-top: 3%;
    padding-top: 5%;
    background-color: #449494d8;
    /* background-color: #389393d0; */
    /* background-color: rgba(47, 143, 203, 0.747); */
    /* background-color: lightslategray; */
}

#register {
    text-align: left;
    width: 253px;
}

.form-layout {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 5%;
}

.input-fields {
    display: flex;
    flex-direction: column;
    padding: 5px;
    padding-top: 5px;
}
#already-reg {
    font-size: medium;
}

.link {
    color: blue;
}

.link:hover {
    color: #e8e8e8;
    text-decoration: none;
}

.reg-input {
    height: 2em;
    width: 19em;
    margin: 5px 0;
    font-family: "roboto", sans-serif;
    color: #383838;
    border: none;
    padding: 10px;
}

#submit-reg {
    border: none;
    height: 1.5em;
    background-color: white;
    font-size: 17px;
    float: right;
    cursor: pointer;
}

#submit-reg:hover {
    color: #f55e4d;
}
#reg-actions {
    height: 2em;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* Login / Reset */

#reset-div {
    margin-top: 8%;
    text-align: right;
}
#reset-link {
    color: white;
    font-size: small;
}
#reset-link:hover {
    color: #e8e8e8;
    font-size: small;
}

#reset-success-div {
    margin-top: -7%;
    text-align: center;
}

/* Other Profile */
#other-profile-container {
    /* border: 1px solid blue; */
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    width: 305px;
    justify-content: center;
    align-items: center;
}
#other-profile {
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
    /* border: 1px solid blue; */
}
#other-img-container {
    height: 250px;
    width: 250px;
    text-align: right;
    cursor: pointer;
}

#other-img {
    height: 100%;
    width: 100%;
    /* cursor: pointer; */
}

.error-msg {
    color: white;
    font-size: large;
    /* border: 1px solid whitesmoke; */
    margin-top: 1%;
}

/* Log out button */
#log-out-button {
    width: 80px;
    height: 25px;
}
#bio-buttons-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#delete-account-button {
    width: 120px;
    margin: 5px 5px 5px 10px;
}
#friend-button {
    margin: 2% 0 0 1px;
    width: 82%;
    height: 2em;
    font-size: medium;
    /* margin: 5px 5px 5px 10px; */
}
